#sporocilo {
    /*border-style: solid;
    border-color: black;
    border-width: medium;*/

    width: 25%;
    text-align: center;
    margin: -40px auto 0 auto;
}
.msg-success {
    background-color: darkseagreen;
    color: white;
}
.msg-error {
    background-color: #bb2d3b;
    color: white;
}
.msg-warning {
    background-color: #ffc107;
    color: black;
}


div.recept {
    /*border-style: solid;
    border-color: black;
    border-width: medium;*/

    width: 28%;
    float: left;
    margin: 5px;
}

div.recept img {
    width: 100%;
}

div.podrobnosti {
    /*border-style: solid;
    border-color: green;
    border-width: medium;*/

    display: inline-block;
    width: 70%;

    padding-left: 10px;
}

div.akcija {
    /*border-style: solid;
    border-color: red;
    border-width: medium;*/

    display: inline-block;
    width: 25%;
}

div.akcija a {
    margin: 0 10px;
}


.slika {

    display: inline-block;
    margin: 5px;
    width: 32%;
}

.slika img {
    width: 100%;
}

#opis_recepta {
    font-style: italic;
    font-size: 1.1em;
}

#sestavine  {
    font-weight: bold;
    font-size: 1.1em;
}